<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiKwik - Group Food Ordering</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="landing-container">
        <div class="app-header">
            <h1 class="app-title">PiKwik</h1>
            <p class="app-subtitle">Make Pick-ing a Pic-nic</p>
        </div>
        <div class="landing-links">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
</body>
</html>

